.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.filter-dropdown,
.filter-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button {
  cursor: pointer;
}
