.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: tomato;
}

.navInner {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1rem;
}


.navList {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.navList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navList li a:hover {
  background-color: #f7a0a0;
}

.toggleButton {
  background: white;
  color: tomato;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.toggleButton:hover {
  background: #ffe5e5;
}
